<div class="container">
  <div class='panel-heading'>
    <h1 class="mt-5">{{title}}</h1>
    <br />
    <br />
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">

    <div class="form-group">
      <label for="name"
             [class.active]="customer.name"
             data-error="Name is required and needs to contain at least 3 chars">
        Name:
      </label>
      <input id="name" type="text" class="validate form-control" required
             [(ngModel)]="customer.name" formControlName="name"
             [class.invalid]="form.controls['name'].touched && !form.controls['name'].valid">

      <div *ngIf="!form.controls['name'].valid && form.controls['name'].touched"
           class="alert alert-danger">
          "Name" is required and must be at least 3 characters long
        </div>

    </div>

    <div class="form-group">
      <label for="surname"
             [class.active]="customer.surname"
             data-error="Surname is required and needs to contain at least 3 chars">
        Surname:
      </label>
      <input id="name" type="text" class="validate form-control"
             [(ngModel)]="customer.surname" formControlName="surname"
             [class.invalid]="form.controls['surname'].touched && !form.controls['surname'].valid">

      <div *ngIf="!form.controls['surname'].valid && form.controls['surname'].touched"
           class="alert alert-danger">
        "Surname" is required and must be at least 3 characters long
      </div>
    </div>

    <div class="form-group">
      <label for="address"
             [class.active]="customer.address"
             data-error="Address is required and needs to contain at least 3 chars">
        Address:
      </label>
      <input id="name" type="text" class="validate form-control"
             [(ngModel)]="customer.address" formControlName="address"
             [class.invalid]="form.controls['address'].touched && !form.controls['address'].valid">

      <div *ngIf="!form.controls['address'].valid && form.controls['address'].touched"
           class="alert alert-danger">
        "Address" is required and must be at least 6 characters long
      </div>
    </div>

    <div class="form-group">
      <label for="telephoneNumber" [class.active]="customer.telephoneNumber">Telephone Number:</label>
      <input id="telephoneNumber" type="text" class="validate form-control"
             [(ngModel)]="customer.telephoneNumber" formControlName="telephoneNumber">


      <div *ngIf="!form.controls['telephoneNumber'].valid && form.controls['telephoneNumber'].touched"
           class="alert alert-danger">
        "Telephone Number" is required and must be at 9 numbers long
      </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>
