<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CustomerDBConnectionString"
    connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CustomersApp;Integrated Security=true"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
